<div class="wrapper-footer">
    <a class="scrollUp-btn" href="#hero"></a>
    <div class="container-flex">
        <nav class="footer-menu">
            <ul class="footer-list">
                <li class="footer-element"><a href="#" class="footer-link">Articles</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Books</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Events</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Reasons</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Tips</a></li>
            </ul>
            <ul class="footer-list">
                <li class="footer-element"><a href="#" class="footer-link">Twitter</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Instagram</a></li>
                <li class="footer-element"><a href="#" class="footer-link">Mastodon.social</a></li>
            </ul>
        </nav>
        <div class="sign">
            <div class="copy">&copy 2017</div>
            <div class="footer-claim">we <span class="heart">❤</span> components</div>
        </div>
    </div>
</div>