<section id='main-principal' class="main-principal">
    <div class="pre-title">Insomnia Tips</div>
    <h2 class="titlePrincipal">Looking Through A Window</h2>
    <p class="p-principal">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec
        lectus. Vivamus semper sodales rutrum.</p>
    <button class="go-btn" type="button">
        <a class="go-btn__link" href="#">
            <div>Go</div>
        </a>
    </button>
</section>


<section class="main-reasons">
    <h2 class="titleReasons">3 Reasons To Purchase</h2>
    <div class="articles-container">
        <article class="reason-articles">
            <h3 class="reasons-subtitle">Ut sed metus</h3>
            <p class="p-reasons">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="reasons-articles">
            <h3 class="reasons-subtitle">Curabitur ac erat</h3>
            <p class="p-reasons">Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="reasons-articles">
            <h3 class="reasons-subtitle">Morbi dictum</h3>
            <p class="p-reasons">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>
</section>


<section class="main-moreReasons">
    <button class="moreReasons-btn" type="button"><a class="moreReasons-btn__link" href="#">
            <div>More reasons</div>
        </a></button>
</section>