<section id='Section1' class="main-Section1">
    <div class="pre-title">Insomnia Tips</div>
    <h3 class="titleSection1">Looking Through A Window</h3>
    <p class="p-section1">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec
        lectus. Vivamus semper sodales rutrum.</p>
    <button class="go-btn" type="button"><a class="go-btn__link" href="#">Go</a></button>
</section>


<section class="main-Section2">
    <h3 class="titleSection2">3 Reasons To Purchase</h3>
    <div class="articles-container">
        <article class="section2-articles">
            <h4 class="section2-subtitle">Ut sed metus</h4>
            <p class="p-section2">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="section2-articles">
            <h4 class="section2-subtitle">Curabitur ac erat</h4>
            <p class="p-section2">Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="section2-articles">
            <h4 class="section2-subtitle">Morbi dictum</h4>
            <p class="p-section2">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>

</section>


<section class="main-Section3">
    <button class="moreReasons-btn" type="button"><a class="moreReasons-btn__link" href="#">More reasons</a></button>  
</section>