.burguer-btn{
    height: 44px;
    width: 44px;
    background-color: $color-blueMed;
    background-image: url(./assets/icons/ico-menu.svg);
    background-repeat:no-repeat;
    background-position:center;
    position: absolute;
    top:0;
    left:0;
    z-index: 30;
  }

  .go-btn {
    width: 76px;
    height: 45px;
    background-color: $color-whiteSnow;
    border: 2px solid $color-orangeFruit;
    border-radius: 25px;
    color: $color-orangeFruit;
    background-position:center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }