.burguer-btn{
    height: 44px;
    width: 44px;
    background-color: $color-blueMed;
    border: 2px solid $color-blueMed;
    background-image: url('../images/ico-menu.svg');
    background-repeat:no-repeat;
    background-position:center;
    position: fixed;
    top:0;
    left:0;
    z-index: 30;
}

.scrollDown-btn{
    width: 45px;
    height: 45px;
    background-color: $color-whiteSnow;
    border: 2px solid $color-whiteSnow;
    border-radius: 50%;
    background-image:url('../images/ico-scroll-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 53px;
    left: 50%;
    transform: translate(-50%);
          &:hover{
          animation-name: arrow;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }     
}
  @keyframes arrow {
    from {
        transform: translate(-50%) scale(1);
    }
    to {
        transform: translate(-50%) scale(1.2);
    }
}
.scrollUp-btn{
  width: 45px;
  height: 45px;
  background-color: $color-whiteSnow;
  border: 2px solid $color-whiteSnow;
  border-radius: 50%;
  background-image:url('../images/ico-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -22.5px;
  left: 50%; 
  transform: translate(-50%);
        &:hover{
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }     
}

.go-btn {
    width: 76px;
    height: 45px;
    background-color: $color-whiteSnow;
    border: 2px solid $color-orangeFruit;
    border-radius: 25px;
    color: $color-orangeFruit;
    background-position:center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
      &__link{
       text-decoration: none;
       color: inherit;
     }
}

.moreReasons-btn {
    width: 184px;
    height: 45px;
    background-color: $color-orangeFruit;
    border: 2px solid $color-orangeFruit;
    border-radius: 25px;
    color: $color-whiteSnow;
    font-weight: 700;
    background-position:center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
      &__link{
       text-decoration: none;
       color: inherit;
     }
} 