.wrapper-hero{
    // background-image: url(./images/cover.jpg);  poner la img como background
    min-height: 100vh;
    position: relative;
}

// mejorar el centrado de la foto

.align-titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title{
    font-family: $font-family-secondary;
    color: $color-whiteSnow;
    text-align: center;
}

.hero-title{
    font-size: $font-size-title;
    text-transform: uppercase;
}

.hero-subtitle{
    font-size: $font-size-secondary;
}
