.wrapper-hero{
    background-image: url('../images/cover.jpg');
    background-position: 50% 0;
    background-size:cover;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.align-titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
}

.title{
    font-family: $font-family-secondary;
    color: $color-whiteSnow;
    text-align: center;
}

.hero-title{
    font-size: $font-size-title;
    text-transform: uppercase;
    line-height: 55px;
    padding-bottom: 10px;
}

.hero-subtitle{
    font-family: $font-family-primary;
    font-size: $font-size-secondary;
    font-weight: 500;

}
