.wrapper-footer{
    background-color:$color-blueDark;
    color:$color-whiteSnow;
    font-family: $font-family-primary;
    font-size: $font-size-secondary;
    position: relative;
}

.footer-menu, .rrss{
    text-align: center;
    @media all and (min-width:678px){
        display:flex;
        justify-content: space-between;
        order:2;   
        text-align: left;
    }
}

.footer-menu__list{
    padding:60px 0 30px;  
    @media all and (min-width:678px){
        padding: 0;
    }
}

.footer-element{
    @media all and (min-width:678px){
        width:210px;
        text-align: left;
    }
    @media all and (min-width:1280px){
        width:160px;
        text-align: left;
    }
}

.footer-link{
    color:inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-small;
}

.copy, .footer-claim{
    font-size: $font-size-small;
    text-align: center;
    @media all and(min-width:678px){
        text-align: start;
        padding: 0;
        width: 210px;
    }
    @media all and (min-width:1280px){
        width:160px;
    }
}

.copy{
    padding-top: 30px;
}

.footer-claim{
    padding-bottom:45px;
}

.heart{
    color: $color-orangeFruit;
}

.container-flex{
    @media all and(min-width:678px){
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding:45px 39px;
    }
    @media all and(min-width:1280px){
        padding:45px 370px;
    }
}