.main-Section1{
    font-family: $font-family-primary;
    color:$color-blackCricket;
    padding: 30px 15px 45px;
    @media all and (min-width:678px){
        padding: 30px 39px 60px;
    }
    @media all and (min-width:1280px){
        padding: 60px 275px 60px;
    }
}

.pre-title{
    color:$color-blueClear;
    font-size:$font-size-small;
    @media all and (min-width:678px){
        font-size: 14px;
    }
    @media all and (min-width:1280px){
        font-size: 16px;
    }  
}

.titleSection1{
    font-size: $font-size-subtitle;
    font-family: $font-family-secondary;
    color: $color-blackCricket;
    padding: 1px 0 15px;
    @media all and (min-width:678px){
        font-size: 26px;
    }
    @media all and (min-width:1280px){
        font-size: 32px;
    }
}

.p-section1{
    color: $color-greyRock;
    padding-bottom: 30px;
    @media all and (min-width:678px){
        font-size: 20px;
    }
}