.main-Section1{
    font-family: $font-family-primary;
    color:$color-blackCricket;
    padding: 30px 15px 60px;
}

.pre-title{
    color:$color-blueClear;
    font-size:$font-size-small;
}

.titleSection1{
    font-size: $font-size-subtitle;
    font-family: $font-family-secondary;
    color: $color-blackCricket;
    padding: 1px 0 15px;
}

.p-section1{
    color: $color-greyRock;
    padding-bottom: 30px;
}