*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px solid green;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    color: $color-blackCricket;
    font-family: $font-family-primary;
    font-size: $font-size-primary;
    line-height: 30px;
}

a{
    text-decoration: none;
}
