// COLORS
$color-orangeFruit: #f26002;
$color-whiteSnow: #ffffff;
$color-blueClear: #8ccbea;
$color-blueMed: #0271bc;
$color-blueDark: #304268;
$color-blackCricket: black;
$color-greyRock: #4a4a4a;

//FONTS
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary:'Roboto Slab', serif;
$font-size-title: 42px; 
$font-size-subtitle: 24x;
$font-size-primary: 18px;
$font-size-secondary: 16px;
$font-size-small: 14px;